#  Serhii final project

## Introduction
This notebook demonstrates key elements of data science using JupyterLab.

## Data Science Languages
- Python
- R
- SQL
- Julia

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool             | Description                      |
|------------------|----------------------------------|
| Jupyter Notebook | Interactive computing platform  |
| RStudio          | IDE for R programming           |
| Apache Spark     | Distributed data processing tool|

## Arithmetic Expression Examples
Below are examples of basic arithmetic expressions.

In [5]:
result = (3 + 5)
print(result)

print((3 * 4))

8
12

In [7]:
# Create a code cell to convert minutes to hours.
minutes = 90
hours = minutes / 60
print(f"{minutes} minutes is == {hours} hours.")

90 minutes is == 1.5 hours.

## Objectives
- Learn Markdown formatting in JupyterLab.
- Perform basic arithmetic operations using Python.
- Demonstrate knowledge of data science tools and libraries.

## Author
Serhii